name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Reposotory
      uses: action/checkout@v4

    - name: Login to dockerhub
      uses: docker/login-action@v3
      with:
         username: ${{ secrets.DOCKERHUB_USERNAME}}
         password: ${{ secrets.DOCKERHUB_PASSWORD}}
   
    - name: Setup Docker Build
      uses: docker/setup-buildx-action@v3

    - name: Build and Push docker image
      uses: docker/build-push-action@v5
      with:
         context:
         file: ./Dockerfile
         push: true
         tags: mbhat21/hr-app-management-test-image:v1.1.0
      
